DATABASE_URL="file:./dev.db"
ANTHROPIC_API_KEY=
LLM_PROVIDER="claude" # "claude" or "ollama"
OLLAMA_MODEL="llama3" # Used if LLM_PROVIDER is "ollama"
OLLAMA_HOST="http://127.0.0.1:11434" # Optional, used if LLM_PROVIDER is "ollama"
